# Remix compiler outputs
remix.config.json
artifacts/
.deps/

# Remix local state and history
.states/
.rerun

# Optional: Ignore environment variables if you add them later
#.env

#Others
.DS_Store
ganache/ganache/
EHR_simulator/programOld/
EHR_simulator/programOk/ehr/*.class
apigateway/apigatewayApp/node_modules/
entities/entitiesApp/node_modules/
birthCertificate/birthCertificateApp/node_modules/
